# Whitelist - ignore everything by default
*
!*/
!/.gitignore

# Allow specific file types and configurations
!mix.exs
!mix.lock
!README*
!LICENSE*
!.formatter.exs
!.iex.exs
!.vscode/settings.json
!justfile
!priv/**/speech_vosk.py


# Allow Nix files
!*.nix
!flake.lock
!.envrc

# Allow specific directories and their contents
!lib/**/*.ex
!lib/**/*.ex
!test/**/*.ex
!test/**/*.exs
!config/**/*.exs
!rel/**/*

# Still blacklist
.direnv
deps/
_build/
